<div class="container">
<div class="gradient-custom-2" style="text-align:center">

    <div >
      <div class="col-md-5 mx-auto">
        <div class="form-area text-left">
          <h1 class="well text-info">Feedback</h1>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
            <div class="form-group">
              <label for="email">Email*</label>
              <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="form.email" required email #email="ngModel"/>
              <div class="alert bg-danger" *ngIf="email.errors && f.submitted">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="subject">Subject*</label>
              <input type="text" class="form-control" name="subject" placeholder="Subject" [(ngModel)]="form.subject" required subject #subject="ngModel"/>
              <div class="alert bg-danger" *ngIf="subject.errors && f.submitted">
                <div *ngIf="subject.errors.required">Subject is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="description">Description*</label>
              <div class="float-left form-input-wrapper">
                      <textarea class="form-control" type="description" id="description" name="description" placeholder="Description" [(ngModel)]="form.description" maxlength="140" rows="7"></textarea>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block bg-info pull-left mr-3">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
