.require {
    color: #666;
}
label small {
    color: #999;
    font-weight: normal;
}

.container {
   
    background-image: url(../../assets/social-4.jpg);
    background-position-x: right;
   
}
