<!-- <div class="col-lg-5 col-lg-offset-1">
     <div width="30" height="50">
        <img src="assets/landing1.jpg" />
    </div> -->
    
    <!-- <div >
        <img src="assets/landing1.jpg" />
    </div>
</div> --> 

<!-- <div class="col-lg-5 col-lg-offset-1">
   
    <div width="30" height="50">
        <img src="assets/socialimages.jpg" />
    </div> 
  
</div>  -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<style>
img{
max-width: 100%;
max-height: 100%;
display: block; /* remove extra space below image */
}
.box{
width: 95%;


}

</style>
</head>
<body>    
<div class="box">
<img src="assets/landing1.jpg" alt="Cloudy Sky">
</div>
</body>
</html>

